@import url('https://fonts.googleapis.com/css2?family=Water Brush&display=swap');
*{
	padding:0;
	margin:0;
}
body{
	background-image:url("background.jpg");
	background-size:cover;
	display:flex;
	justify-content:center;
	align-items:center;
	height:600px;
}
.about_water{
	padding:10px;
	position:absolute;
	top:20px;
	right:20px;
	width:350px;
	color:white;
}
.logo_H2O p{
	position:absolute;
	font-size:30px;
	font-family:'Water Brush';
	color:white;
	left:50%;
	transform: translate(-50%,0);
}
.logo_H2O{
	position:relative;
	width:150px;
	height:150px;
	border:10px solid rgba(255, 255, 255, 0.6);
	box-shadow:0 0 0 15px rgba(52, 132, 240, 0.6);
}
.drop{
	position:absolute;
	width:150px;
	height:150px;
	background-color:rgba(44, 93, 209, 0.9);
	animation: 6s ease 1s  drop_go;
}
.eays div{
	
	width:3px;
	height:3px;
	background-color:black;
	margin: 5px 10px;
}
.eays{
	display:flex;
}
.mouth{
	border-bottom:2px solid black;
	width:20px;
	height:5px;
	border-radius:50%;
}
.face{
	width:150px;
	height:150px;
	display:flex;
	align-items:center;
	flex-direction:column;
	transform:rotate(225deg);
}
@keyframes drop_go{
	0%, 100%{
		border-radius:0 0 0 0;
		transform:translate(0,0) rotate(0deg);
		bottom:0px;
	}
	5%{
		border-radius:0 0 0 0;
		transform:translate(0,0) rotate(0deg);
		bottom:-200px;
	}
	10%{
		border-radius:50% 0 0 0;
		transform:translate(0,0) rotate(45deg);
		bottom:-200px;
	}
	15%{
		border-radius:50% 50% 0 0;
		transform:translate(0,0) rotate(90deg);
		bottom:-200px;
	}
	20%{
		border-radius:50% 50% 50% 0;
		transform:translate(0,0) rotate(135deg);
		bottom:-200px;
	}
	30%{
		border-radius:50% 50% 50% 0;
		transform:translate(60px,0) rotate(135deg) ;
		bottom:-200px;
	}
	40%{
		border-radius:50% 50% 50% 0;
		transform:translate(-60px,0) rotate(135deg);
		bottom:-200px;
	}
	50%{
		border-radius:50% 50% 50% 0;
		transform:translate(0,0) rotate(135deg);
		bottom:200px;
	}
	60%{
		border-radius:50% 50% 50% 0;
		transform:translate(0px,0) rotate(135deg);
		bottom:-200px;
	}
	70%{
		border-radius:50% 50% 50% 0;
		transform:translate(0px,0) rotate(135deg);
		bottom:-50px;
	}
	80%{
		border-radius:50% 50% 50% 0;
		transform:translate(0px,0) rotate(135deg);
		bottom:-200px;
	}
	90%{
		border-radius:50% 50% 50% 0;
		transform:translate(0px,0) rotate(135deg);
		bottom:400px;
	}
}